<!--
@Author: timaanonsen
@Date:   12-29-2017 10:12::36
@Filename: index.html.erb
@Last modified by:   timaanonsen
@Last modified time: 12-29-2017 10:12::83
-->
<h1>Movie DB</h1>
 <div><%= @welcome %></div>
