<!--
@Author: timaanonsen
@Date:   12-27-2017 10:12::67
@Filename: index.html.erb
@Last modified by:   timaanonsen
@Last modified time: 12-27-2017 12:12::22
-->



<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<%= link_to 'New article', new_article_path %>
